In [1]:
value = 5

In [2]:
print(value)

5

In [6]:
value = 6
print(value)

6

In [2]:
thislist = ["Apple", "Oranges"]
print(thislist)

['Apple', 'Oranges']

In [3]:
thislist = ["apple", "banana", 'cherry']
print(thislist)

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [5]:
print(len(thislist))

5

In [10]:
list1 = ["abc", 34, True, 40, "male", "a"]

In [11]:
print(list1)

['abc', 34, True, 40, 'male', 'a']

In [12]:
print(type(list1))

<class 'list'>

In [13]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [15]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [ ]:
import numpy